<div class="report-widget">
    <h3 class="widget-title">
        <?= Lang::get('spanjaan.blogportal::lang.model.post.statistics') ?>
    </h3>

    <div class="posts-stats">

        <div class="stats-filter">
            <ul class="stats-range-list">
                <li class="stats-range-item">

                    <button type="button"
                        class="range-btn <?= $range === '7 days'? 'disabled': '' ?>"
                        data-range="7 days"
                        data-request="onChangeRange"
                        data-request-data="range: '7 days'"
                        data-request-success="[].map.call(this.parentElement.querySelectorAll('button'), (e) => e.classList[e.dataset.range == data.range? 'add': 'remove']('disabled'))">
                        <?= Lang::get('spanjaan.blogportal::lang.components.post.7days') ?>
                    </button>

                    <button type="button"
                        class="range-btn <?= $range === '14 days'? 'disabled': '' ?>"
                        data-range="14 days"
                        data-request="onChangeRange"
                        data-request-data="range: '14 days'"
                        data-request-success="[].map.call(this.parentElement.querySelectorAll('button'), (e) => e.classList[e.dataset.range == data.range? 'add': 'remove']('disabled'))">
                        <?= Lang::get('spanjaan.blogportal::lang.components.post.14days') ?>
                    </button>

                    <button type="button"
                        class="range-btn <?= $range === '31 days'? 'disabled': '' ?>"
                        data-range="31 days"
                        data-request="onChangeRange"
                        data-request-data="range: '31 days'"
                        data-request-success="[].map.call(this.parentElement.querySelectorAll('button'), (e) => e.classList[e.dataset.range == data.range? 'add': 'remove']('disabled'))">
                        <?= Lang::get('spanjaan.blogportal::lang.components.post.31days') ?>
                    </button>

                    <button type="button"
                        class="range-btn <?= $range === '3 months'? 'disabled': '' ?>"
                        data-range="3 months"
                        data-request="onChangeRange"
                        data-request-data="range: '3 months'"
                        data-request-success="[].map.call(this.parentElement.querySelectorAll('button'), (e) => e.classList[e.dataset.range == data.range? 'add': 'remove']('disabled'))">
                        <?= Lang::get('spanjaan.blogportal::lang.components.post.3months') ?>
                    </button>

                    <button type="button"
                        class="range-btn <?= $range === '6 months'? 'disabled': '' ?>"
                        data-range="6 months"
                        data-request="onChangeRange"
                        data-request-data="range: '6 months'"
                        data-request-success="[].map.call(this.parentElement.querySelectorAll('button'), (e) => e.classList[e.dataset.range == data.range? 'add': 'remove']('disabled'))">
                        <?= Lang::get('spanjaan.blogportal::lang.components.post.6months') ?>
                    </button>

                    <button type="button"
                        class="range-btn <?= $range === '12 months'? 'disabled': '' ?>"
                        data-range="12 months"
                        data-request="onChangeRange"
                        data-request-data="range: '12 months'"
                        data-request-success="[].map.call(this.parentElement.querySelectorAll('button'), (e) => e.classList[e.dataset.range == data.range? 'add': 'remove']('disabled'))">
                        <?= Lang::get('spanjaan.blogportal::lang.components.post.12months') ?>
                    </button>

                </li>
            </ul>
        </div>

        <div id="publishedStatistics" class="stats-box stats-box--published">
            <?= $publishedStatistics ?>
        </div>

        <div id="generalStatistics" class="stats-box stats-box--general">
            <?= $generalStatistics ?>
        </div>

    </div>
</div>