<?php $rank = 1; ?>
<div class="row">
<?php foreach ($posts as $post): ?>
    <div class="col-md-6">
        <div class="post-item">
            <span class="post-rank"><?= $rank++ ?>.</span>
            <a href="<?= $post->url ?>" target="_blank" title="<?= $post->title ?>" class="post-title">
                <?= $post->title ?>
            </a>
            <div class="post-stats">
                <span class="post-stat">
                    <i class="icon-eye"></i>
                    <span><?= number_format($post->spanjaan_blogportal_views) ?></span>
                </span>
                <span class="post-stat">
                    <i class="icon-user"></i>
                    <span><?= number_format($post->spanjaan_blogportal_unique_views) ?></span>
                </span>
            </div>
        </div>
    </div>
<?php endforeach; ?>
</div>