{% macro renderParent(parent, depth = 1) %}
    <div class="border rounded p-3 {% if depth == 1 %}mb-3{% else %}mt-3{% endif %}">
        <small>{{ 'spanjaan.blogportal::lang.frontend.comments.replyto'|trans({ 'name': parent.display_name }) }}</small>
        <p class="m-0 p-0"><small>{{ parent.content | raw }}</small></p>

        {% if parent.parent %}
            {{ templates.renderParent(parent.parent, depth + 1) }}
        {% endif %}
    </div>
{% endmacro %}

<div class="p-2" data-comment-id="{{ comment.id }}">
    <div class="d-flex pb-2 mb-1">
        <div class="d-flex align-items-center me-3">
            <img src="{{ comment.avatar }}" class="rounded-1" width="48" alt="{{ comment.display_name }}">
            <div class="ps-3">
                <h6 class="fw-semibold mb-0">{{ comment.display_name }}</h6>
                {% if comment.status == 'approved' %}
                    <span class="fs-sm text-muted" datetime="{{ comment.published_at }}">{{ comment.published_ago }}</span>
                {% elseif comment.status == 'pending' %}
                    <span class="fs-sm text-danger">{{ 'spanjaan.blogportal::lang.frontend.comments.awaiting_moderation'|trans }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="mt-2">
        {% if not showCommentsHierarchical and comment.parent %}
            {{ _self.renderParent(comment.parent) }}
        {% endif %}

        <!-- Print the parent user's name if there is a parent comment -->
        {% if comment.parent %}
            <p class="m-0 p-0 text-primary"><small>{{ 'Replied to: ' ~ comment.parent.display_name }}</small></p>
        {% endif %}

        {{ comment.comment_content | raw }}
    </div>

    {% if not skip_footer|default(false) %}
        <footer>
            {% if comment.status == 'pending' %}
                {% if currentUserCanModerate %}
                <div class="text-md-start text-center">
                    <button data-blogportal-handler="onChangeStatus" data-blogportal-status="approve"
                        data-blogportal-id="{{ comment.id }}"
                        title="{{ 'spanjaan.blogportal::lang.frontend.comments.approve_title'|trans }}"
                        class="btn btn-sm btn-success">
                        <i class='bx bx-check'></i>
                        {{ 'spanjaan.blogportal::lang.frontend.comments.approve'|trans }}
                    </button>
                    <button data-blogportal-handler="onChangeStatus" data-blogportal-status="reject"
                        data-blogportal-id="{{ comment.id }}"
                        title="{{ 'spanjaan.blogportal::lang.frontend.comments.reject_title'|trans }}"
                        class="btn btn-sm btn-danger">
                        <i class='bx bx-x fs-lg'></i>
                        {{ 'spanjaan.blogportal::lang.frontend.comments.reject'|trans }}
                    </button>
                </div>
                {% endif %}
                {% else %}
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <div class="align-items-center border pt-3 px-3 rounded">
                    {% if currentUserCanLike %}
                        <button data-blogportal-handler="onVote" data-blogportal-vote="like"
                            data-blogportal-id="{{ comment.id }}"
                            title="{{ 'spanjaan.blogportal::lang.frontend.comments.like_title'|trans }}"
                            class="btn btn-sm border-0 position-relative {% if comment.current_likes %}text-success disabled{% else %}text-muted{% endif %}">
                            {% if comment.current_likes %}
                                <i class='bx bx-like fs-lg'></i>
                                <span class="badge badge-sm position-absolute top-0 start-100 translate-middle rounded-pill bg-success">{{ comment.likes }}</span>
                            {% else %}
                                <i class='bx bx-like fs-lg'></i>
                                <span class="badge badge-sm position-absolute top-0 start-100 translate-middle rounded-pill bg-primary text-white">{{ comment.likes }}</span>
                            {% endif %}
                        </button>
                    {% endif %}
                    {% if currentUserCanDislike %}
                        <button data-blogportal-handler="onVote" data-blogportal-vote="dislike"
                            data-blogportal-id="{{ comment.id }}"
                            title="{{ 'spanjaan.blogportal::lang.frontend.comments.dislike_title'|trans }}"
                            class="btn border-0 btn-sm position-relative {% if comment.current_dislikes %}text-danger disabled{% else %}text-muted{% endif %}">
                            {% if comment.current_dislikes %}
                                <i class='bx bx-dislike fs-lg'></i>
                                <span class="badge badge-sm position-absolute top-0 start-100 translate-middle rounded-pill bg-danger">{{ comment.dislikes }}</span>
                            {% else %}
                                <i class='bx bx-dislike fs-lg'></i>
                                <span class="badge badge-sm position-absolute top-0 start-100 translate-middle rounded-pill bg-primary text-white">{{ comment.dislikes }}</span>
                            {% endif %}
                        </button>
                    {% endif %}
                    {% if currentUserCanFavorite %}
                        <button data-blogportal-handler="onChangeStatus" data-blogportal-status="favorite"
                            data-blogportal-id="{{ comment.id }}"
                            title="{% if comment.favorite %}{{ 'spanjaan.blogportal::lang.frontend.comments.unfavorite_title'|trans }}{% else %}{{ 'spanjaan.blogportal::lang.frontend.comments.favorite_title'|trans }}{% endif %}"
                            class="btn border-0 btn-sm position-relative {% if comment.favorite %}text-warning{% else %}text-primary{% endif %}">
                            <i class='bx bx-star fs-lg'></i>
                        </button>
                    {% endif %}
                    </div>
                    <div class="mt-2 mt-md-0 ms-md-auto">
                    {% if currentUserCanComment %}
                        <button data-blogportal-handler="onCreateReply" data-blogportal-id="{{ comment.id }}"
                            title="{{ 'spanjaan.blogportal::lang.frontend.comments.reply_title'|trans }}"
                            class="btn btn-sm btn-outline-primary">
                            <i class='bx bx-share fs-lg'></i>
                            <span>{{ 'spanjaan.blogportal::lang.frontend.comments.reply'|trans }}</span>
                        </button>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
        </footer>
    {% endif %}
</div>
